:root {
  --backgroundC: #D0DB97;
  --foregroundC: #69B578;
  --accentC: #3A7D44;
}

html,
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--backgroundC);
}

canvas {
  text-align: center;
  border: 3px solid black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.tutorial {
  padding-top: 4rem;
  background-color: var(--foregroundC);
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
}

h3 {
  margin-bottom: 0px; /* Adjust this value to control the spacing */
}

hr {
  border: 1px solid black; /* Set the border style, color, and width */
  margin: 0 20px 20px 20px;
}

.tutorial p {
  margin-top: -10px; /* Adjust this value to control the spacing */
  margin-bottom: 20px; /* Adjust this value to control the spacing */
  margin-left: 20px;
  margin-right: 20px;
}

.mainContent {
  padding-top: 4rem;
  height: calc(100vh - 4rem);
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
}


h1 {
  margin: 0 0 20px 0;
  font-size: 3rem;
}


h2 {
  margin: 0;
  font-size: 2rem;
  padding-bottom: 2.5rem;
}

.controls {
  padding-top: 4rem;
  background-color: var(--foregroundC);
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
}

.slidecontainer {
  width: 100%;
  padding-bottom: 10rem;
}

.slider {
  appearance: slider-vertical;
  width: 10px;
  height: 80px;
  border-radius: 5px;
  background: #d3d3d3;
  opacity: 0.7;
  transition: opacity .2s ease;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.buttons {
  position: absolute;
  width: 20%;
  bottom: 20px;
  text-align: center;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  background-color: var(--accentC);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #254D32;
}

.spawnBtn {
  padding-top: 1rem;
}